body{
    color: rgb(0, 0, 0);
    text-align: center;
    background-image: url(../img/chese.jpg);
    background-size: cover;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}   
#container{
    padding: 10px 10px 10px 10px;
    text-align: justify;
    border: 1px solid #000;
    background-color: aqua;
}
#container h1{
    text-align: center;
}
#boton{
    border-radius: 5px;
    color: #fff;
    background-color: rgb(15, 38, 165);
    width: 100px;
    height: 30px;
}
#header{
    background-color: rgb(15, 38, 165);
    color: #fff;
}
