body{
    color: blueviolet;
    text-decoration: #000;
    text-align: center;
    background-image: url(../img/chese.jpg);
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}   
#container{
    padding: 10px 10px 10px 10px;
    text-align: justify;
    border: 1px solid #000;
    background-color: aqua;
}
#container h1{
    text-align: center;
}
#header{
    background-color: blueviolet;
    color: aliceblue;
    font-family: cursive;
    position: static;
    margin: auto;
    padding: 10px;
    }